body{
    margin:0;
    padding: 0;
}
header nav {
    background-color: blue;
}
#demo{
    width: 100%;
    ;
}
#servico{
    background-color: rgb(62, 62, 62);
}
#servico ul figure{
    display: flex;
}
#servico ul figure p{
    margin-bottom: 0;
    color: aliceblue;
}
#servico ul figure img{
    width: 14%;
    filter: invert(100%);
}
footer{
    background-color: blue;
}
footer ul li{
    list-style-type: none;
}
footer{
    color: aliceblue;

}
footer #credito {
    text-align: center;
    background-color: aliceblue;

}
.icon-footer{
    filter: invert(100%);
    width: 3%;
}
.icon-drop{
    width: 5%;
}
#produtos{
    text-align: center;
}
.produtos-single{
    background-color: aquamarine;
    border: solid 1px black;
    border-radius: 5px;
    width: 30%;
    padding: 0 20px;
    margin:auto;
}
.produtos-single img{
    width: 200px;
    height: 200px;
}
.card-img-top{
    max-width: 200px;
}