body{
    margin:0;
    padding: 0;
    background-color: #F7F3E8;
    overflow-x: hidden;
}

header nav {
    background-color: #E6C324;
}   
#demo{
    width: 100%;
    ;
}
#servico{
    background-color: #C9A24D;
}
#servico ul figure{
    display: flex;
}
#servico ul figure p{
    margin-bottom: 0;
    color: #1C1C1C;
}
#servico ul figure img{
    width: 14%;
    /* filter: invert(100%); */
}
#mp{
    background-color: #C9A24D;
}
footer{
    background-color: #C9A24D;
}
footer ul li{
    list-style-type: none;
}
footer{
    color: #1C1C1C;

}
footer #credito {
    text-align: center;
    background-color: aliceblue;

}
.icon-footer{
    filter: invert(100%);
    width: 3%;
}
.icon-drop{
    width: 5%;
}
#produtos{
    text-align: center;
    
}
.produtos-single{
    background-color: aquamarine;
    border: solid 1px black;
    border-radius: 5px;
    width: 30%;
    padding: 0 20px;
    margin:auto;
    
}
.produtos-single img{
    width: 200px;
    height: 200px;
}
.card-img-top{
    max-width: 200px;
}
.card{
    position: relative;
    width: 320px;
    height: 420px;
    background: orange;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;

    
}
.card::before{
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background-color: #E6D239;
    transform: skewY(345deg);
    transition: 0.5s;
}
.card:hover::before{
    top: -70%;
    transform: skewY(390deg);
}
.card::after{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0,0,0,0.1);
}
.card .imgbx{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}
.card .imgbx img{
    max-width: 100%;
    transition: 0.5s;
    max-height: 240px;

}
.card:hover img{
    max-width: 50%;

}
.card .contentBox{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}
.card .contentBox h3{
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .contentBox h5{
    color: aliceblue;
}
.card .contentBox .price{
    font-size: 24px;
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card .contentBox .buy{
    position: relative;
    top: 200px;
    padding: 10px 30px;
    margin-top: 15px;
    color: aliceblue;
    text-decoration: none;
    background: #E6C324;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;


}
.card:hover .contentBox .buy{
    top: 0;
    opacity: 1;
}

